<div class="container">


<h1>Blog</h1>

<% if can?(:create, @post) %>
<%= link_to 'Nuevo Post', new_post_path %>
<% end %>

<div class="card-deck">
  <% @posts.each do |post| %>
  <div class="card">
    <img src="<%= asset_path(post.photo.url) %>" class="card-img-top" alt="imagen del post">
    <div class="card-body">
      <h5 class="card-title"><%= post.title %></h5>
      <p class="card-text"><%= post.description %></p>
      <p class="card-text"><%= link_to 'Leer', post %></p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

      <% if can?(:edit, post) %>
      <p><%= link_to 'Edit', edit_post_path(post) %></p>
      <% end %>
      <div>
        <% if can?(:destroy, post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
