<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8">
      <h1>
        <strong class="titulo-blog"><%= @post.title %></strong>
      </h1>
      <p>
        <i class="fa fa-calendar">Fecha de publicación <%= @post.created_at.strftime("%d-%m-%Y")%></i>
      </p>

      <strong><%= image_tag @post.photo, class: 'img-fluid' %></strong>
      <p>
        <i class="fa fa-user"> Publicado por <%= @post.user.name%></i>
      </p>

      <p class="text-justify texto-blog">
        <%= @post.description.html_safe %>
      </p>
      <% if can?(:edit, @post) %>
        <p><%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-secondary btn-sm boton-edit'%></p>
      <% end %>


      <div class="">
        <%= render 'comments/form' %>
      </div>
    </div>
    <div class="col-12 col-sm-4">
      <%= render 'sidebar' %>
    </div>
  </div>
</div>
