<div class="container">

  <h1><%= @category.name %></h1>

  <div class="row">

    <% if can?(:edit, @category) %>
      <p><%= link_to 'Edit', edit_category_path(@category), class: 'btn btn-secondary btn-sm boton-edit' %></p>
    <% end %>

    <% if can?(:destroy, @category) %>
      <p><%= link_to 'Destroy', @category, class: 'btn btn-danger btn-sm boton-delete', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esto?' } %></p>
    <% end %>

  </div>

  <h2 class="h5">Listado de productos</h2>
  <ul>
    <% @products.each do |p| %>
      <li><%= p.name %></li>
    <% end %>
  </ul>

  <div class="row row-cols-1 row-cols-md-2">

    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>

        <div class="col mb-4">
          <div class="card">
            <img src="<%= asset_path product.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title titulo"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text"><%= product.size %></p>
              <p class="card-text"><%= number_to_currency product.price, precision: 0, delimiter: "." %></p>
              <p><%= product.category && product.category.name %></p>
              <%= link_to "Comprar", product_orders_path(product), class: 'btn btn-outline-primary btn-lg', method: :post %>
              <%= link_to 'Ver más', product, class: 'btn btn-outline-secondary btn-lg' %>

              <div class="row">
                <% if can?(:edit, product) %>
                  <p><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-secondary btn-sm boton-edit' %></p>
                <% end %>

                <% if can?(:destroy, product) %>
                  <p><%= link_to 'Destroy', product, class: 'btn btn-danger btn-sm boton-delete', method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esto?' } %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <p><%= link_to 'Volver', categories_path %></p>
</div>
