<div class="container">
  <h1>Nueva colección</h1>
  <div class="row row-cols-1 row-cols-md-2">

    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>

        <div class="col mb-4">
          <div class="card">
            <img src="<%= asset_path product.photo %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= product.name %></h5>
              <p class="card-text"><%= product.description %></p>
              <p class="card-text"><%= number_to_currency product.price, precision: 0, delimiter: "." %></p>
              <%= link_to "Comprar", product_orders_path(product), class: 'btn btn-outline-secondary btn-lg', method: :post %>

              <p><%= link_to 'Show', product %></p>
              <p><%= link_to 'Edit', edit_product_path(product) %></p>
              <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to 'New Product', new_product_path %>
