<h1>Colección</h1>

<div class="container">
  <div class="row">
    <% @products.each_slice(4) do |row| %>
      <% row.each do |product| %>
        <div class="col">
          <div class="card">
            <% product.photo %>
              <h5>
                <% product.name %>
                </h5>
                <h4>
                  <% product.price %>
                  </h4>
                  <p>
                    <% product.description %>
                    </p>
                    <%= link_to "Comprar", product_orders_path(product), class: 'btn btn-success', method: :post %>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>

          <div>
            <% @products.each do |product| %>
              <div>
                <p><%= product.name %></p>
                <p><%= product.description %></p>
                <p><%= image_tag product.photo %></p>
                <p><%= product.price %></p>
                <p><%= link_to 'Show', product %></p>
                <p><%= link_to 'Edit', edit_product_path(product) %></p>
                <p><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
              </div>
            <% end %>
          </div>
        </div>

        <br>

        <%= link_to 'New Product', new_product_path %>
