
<div class="container">

<h1>
  <strong><%= @product.name %></strong>
</h1>
<p>
  <strong><%= image_tag @product.photo %></strong>
</p>
<p>
  <strong><%= @product.description %></strong>
</p>
<p>
  <strong><%= number_to_currency @product.price, precision: 0, delimiter: "." %></strong>
  <%= link_to "Comprar", product_orders_path(@product), class: 'btn btn-outline-primary btn-lg', method: :post %>
</p>
      <% if can?(:edit, @product) %>
    <p><%= link_to 'Edit', edit_product_path(@product) %></p>
    <% end %>
    <% if can?(:destroy, @product) %>
    <p><%= link_to 'Destroy', @product, method: :delete, data: { confirm: '¿Estás seguro que quieres eliminar esto?' } %></p>
    <% end %>
    <%= link_to 'Back', products_path %>
</div>
