<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="<%= root_path %> ">C.MILLER</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="<%= products_path %>">Nueva colección<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= posts_path %>">Blog</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Tienda
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Abrigos y chaquetas</a>
          <a class="dropdown-item" href="#">Blusas y poleras</a>
          <a class="dropdown-item" href="#">Pantalones y faldas</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Otros</a>
        </div>
      </li>
    </ul>

    <!-- INICIO DE SESIÓN/REGISTRO -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item carrito">
        <a class="nav-link" href="<%= orders_path %>">
          <i class="fa fa-2x fa-shopping-cart"></i>
        </a>
      </li>
      <% if user_signed_in? %>
        <p>Bienvenid@ <%= current_user.name %></p>
        <%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, class: 'btn btn-secondary btn-sm'%>
      <% else %>

        <%= link_to "Iniciar sesión", new_user_session_path, class: 'btn btn-light' %>
        <%= link_to "Registrarse", new_user_registration_path, class: 'btn btn-light' %>
      <% end %>
    </ul>

    <!-- BARRA DE BÚSQUEDA -->
    <!-- <form class="form-inline my-2 my-lg-0"> <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> </form> -->
  </div>
</nav>
